# Wine-CSP build configuration for Wine 11.4
_plain_version="wine-11.4"
_use_staging="false"
_user_patches="true"
_user_patches_no_confirm="true"
_nomakepkg_dep_resolution_distro="debuntu"
_nomakepkg_nover="true"
_PKGNAME_OVERRIDE="csp-11.4"
_hotfixes_no_confirm="true"
_nopatchmsg="true"
_use_fsync="false"
_use_esync="false"
_protonify="false"
_NOLIB32="false"
_NOMINGW="false"
_ENABLE_TESTS="false"
_pkg_strip="true"
_use_pba="false"
_configure_userargs64="--with-x --with-gstreamer --with-xattr --without-oss --disable-winemenubuilder --disable-tests"
_configure_userargs32="--with-x --with-gstreamer --with-xattr --without-oss --disable-winemenubuilder --disable-tests"
_nomakepkg_midbuild_prompt="false"
_NOINITIALPROMPT="true"
